네이버금융 재무제표 크롤링(1)
==

In [ ]:
statement

,종목코드,종목명,PER,동일업종PER,추정PER,PBR,ROE,배당수익률,PER10이하주,PBR1이하주,ROE12이상주,동일업종대비PER하위주,PER대비추정PER하위주,배당수익률2이상주,12346만족,123456만족,1234만족
0,95570,AJ네트웍스,4.16,10.83,NaN,0.84,0.20,3.96,1,1,1,1,0,1,1,0,1
1,6840,AK홀딩스,NaN,8.54,NaN,0.43,NaN,1.02,0,1,0,0,0,0,0,0,0
2,27410,BGF,7.45,6.23,NaN,0.31,0.04,2.16,1,1,0,0,0,1,0,0,0
3,282330,BGF리테일,21.95,6.23,17.0,4.00,0.18,1.60,0,0,1,0,1,0,0,0,0
4,138930,BNK금융지주,3.18,5.29,3.0,0.27,0.08,7.25,1,1,0,1,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815,5870,휴니드,9.88,31.16,NaN,0.90,0.09,NaN,1,1,0,1,0,0,0,0,0
816,79980,휴비스,NaN,4.79,NaN,0.52,NaN,4.20,0,1,0,0,0,1,0,0,0
817,5010,휴스틸,4.68,4.14,NaN,0.29,0.06,3.46,1,1,0,0,0,1,0,0,0
818,540,흥국화재,3.89,6.72,NaN,0.35,0.09,NaN,1,1,0,1,0,0,0,0,0
819,3280,흥아해운,25.08,3.33,NaN,6.92,0.28,NaN,0,0,1,0,0,0,0,0,0

In [ ]:
list1 = df1['종목명'].tolist()
list2 = df2['종목명'].tolist()
list3 = df3['종목명'].tolist()

In [ ]:
list1

['AJ네트웍스',
 'DB금융투자',
 'DL',
 'DL건설',
 'DL이앤씨',
 'F&F홀딩스',
 'GS',
 'GS리테일',
 'JB금융지주',
 'KG케미칼',
 'KTis',
 'LG',
 'LX인터내셔널',
 'LX홀딩스',
 'OCI',
 'SG세계물산',
 'SIMPAC',
 'SK스퀘어',
 '계룡건설',
 '국도화학',
 '금호건설',
 '금호석유',
 '기아',
 '다올투자증권',
 '다우기술',
 '대상',
 '대신증권',
 '대우건설',
 '대한제강',
 '더블유게임즈',
 '동국제강',
 '동부건설',
 '동원수산',
 '롯데손해보험',
 '롯데정밀화학',
 '모나미',
 '문배철강',
 '사조대림',
 '삼양홀딩스',
 '성안',
 '세아제강지주',
 '신세계건설',
 '아세아제지',
 '애경케미칼',
 '웅진씽크빅',
 '유엔젤',
 '이마트',
 '이화산업',
 '인바이오젠',
 '코오롱',
 '코오롱글로벌',
 '쿠쿠홀딩스',
 '키움증권',
 '티에이치엔',
 '티와이홀딩스',
 '포스코스틸리온',
 '풍산',
 '풍산홀딩스',
 '한국금융지주',
 '한국자산신탁',
 '한국전자홀딩스',
 '한국주철관',
 '한국토지신탁',
 '한라',
 '한양증권',
 '한화',
 '현대두산인프라코어',
 '현대비앤지스틸',
 '현대퓨처넷',
 '황금에스티',
 '효성']

In [ ]:
list2

['AJ네트웍스',
 'DB금융투자',
 'DL',
 'DL건설',
 'DL이앤씨',
 'GS',
 'GS리테일',
 'JB금융지주',
 'KTis',
 'LG',
 'LX인터내셔널',
 'SIMPAC',
 '계룡건설',
 '국도화학',
 '금호건설',
 '금호석유',
 '기아',
 '다올투자증권',
 '다우기술',
 '대상',
 '대신증권',
 '대한제강',
 '동국제강',
 '동부건설',
 '롯데정밀화학',
 '모나미',
 '삼양홀딩스',
 '신세계건설',
 '아세아제지',
 '애경케미칼',
 '웅진씽크빅',
 '코오롱',
 '코오롱글로벌',
 '쿠쿠홀딩스',
 '키움증권',
 '포스코스틸리온',
 '풍산',
 '풍산홀딩스',
 '한국금융지주',
 '한국자산신탁',
 '한국주철관',
 '한국토지신탁',
 '한라',
 '한양증권',
 '한화',
 '현대퓨처넷',
 '황금에스티',
 '효성']

In [ ]:
list3

['GS', 'JB금융지주', 'LX인터내셔널', '기아', '대한제강', '동국제강', '코오롱글로벌']

In [ ]:
df1[['종목명', '종목코드']]

           종목명    종목코드
0       AJ네트웍스   95570
13      DB금융투자   16610
18          DL     210
19        DL건설    1880
20       DL이앤씨  375500
..         ...     ...
770  현대두산인프라코어   42670
776    현대비앤지스틸    4560
789      현대퓨처넷  126560
806      황금에스티   32560
807         효성    4800

[71 rows x 2 columns]

In [ ]:
df2[['종목명', '종목코드']]

In [ ]:
df3[['종목명', '종목코드']]

In [ ]:
!pip install finance-datareader
!pip install pykrx
!pip install bs4
!pip install html5lib
!pip3 install lxml

In [ ]:
import matplotlib.pyplot as plt
import FinanceDataReader as fdr
import pandas as pd
import numpy as np
import requests
import re


from datetime import datetime 
from bs4 import BeautifulSoup
from pykrx import stock
%matplotlib inline

In [ ]:
# 오늘날 코스피에 상장되어 있는 주식의 이름과 티커 수집 
today = datetime.today().strftime("%Y%m%d") 
ticker_list = stock.get_market_ticker_list(date = today, market="KOSPI") 
symbol_list = [] 
for ticker in ticker_list: 
  symbol = stock.get_market_ticker_name(ticker) 
  symbol_list.append(symbol) 

# 코스피 상장 주식의 개수 확인 
print(len(ticker_list)) 
print(len(symbol_list))

940
940

In [ ]:
df_우 = [s for s in symbol_list if s.endswith('우') | s.endswith('우B') | s.endswith('우(전환)')]
res = [i for i in symbol_list if i not in df_우]

ticker = pd.DataFrame(ticker_list)
symbol = pd.DataFrame(symbol_list)
sol = pd.concat([ticker, symbol], axis=1)
sol.columns= ['종목코드', '종목명']
kospi_df = sol[sol['종목명'].isin(res)]
kospi_df.reset_index(inplace=True)
kospi_df.drop('index', axis=1, inplace=True)
kospi_df['종목코드'] = kospi_df['종목코드'].astype('str')
ticker_ks = kospi_df['종목코드'].tolist()
print(len(ticker_ks))
kospi_df

820

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

       종목코드      종목명
0    095570   AJ네트웍스
1    006840    AK홀딩스
2    027410      BGF
3    282330   BGF리테일
4    138930  BNK금융지주
..      ...      ...
815  005870      휴니드
816  079980      휴비스
817  005010      휴스틸
818  000540     흥국화재
819  003280     흥아해운

[820 rows x 2 columns]

In [ ]:
a = []
b = []
c = []
d = []
e = []
f = []
g = []
h = []
i = []
j = []
k = []
l = []
m = []
n = []
o = []
p = []
q = []
r = []
s = []
t = []
u = []
w = []
x = []
y = []
z = []

In [ ]:
ks_o = ['qq', 'ufu']
ks_i = ks_o + ['wuw']
ks_i

['qq', 'ufu', 'wuw']

In [ ]:
import pandas as pd
import requests

try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    a.append(yf)

except IndexError:
  a.append(None)
  print(len(a))
  del ticker_ks[:len(a)]


try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    b.append(yf)

except IndexError:
  b.append(None)
  print(len(b))
  del ticker_ks[:len(b)]


try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    c.append(yf)

except IndexError:
  c.append(None)
  print(len(c))
  del ticker_ks[:len(c)]


try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    d.append(yf)

except IndexError:
  d.append(None)
  print(len(d))
  del ticker_ks[:len(d)]


try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    e.append(yf)

except IndexError:
  e.append(None)
  print(len(e))
  del ticker_ks[:len(e)]


try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    f.append(yf)

except IndexError:
  f.append(None)
  print(len(f))
  del ticker_ks[:len(f)]


try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    g.append(yf)

except IndexError:
  g.append(None)
  print(len(g))
  del ticker_ks[:len(g)]


try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    h.append(yf)

except IndexError:
  h.append(None)
  print(len(h))
  del ticker_ks[:len(h)]


try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    i.append(yf)

except IndexError:
  i.append(None)
  print(len(i))
  del ticker_ks[:len(i)]


try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    j.append(yf)

except IndexError:
  j.append(None)
  print(len(j))
  del ticker_ks[:len(j)]


try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    k.append(yf)

except IndexError:
  k.append(None)
  print(len(k))
  del ticker_ks[:len(k)]

try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    l.append(yf)

except IndexError:
  l.append(None)
  print(len(l))
  del ticker_ks[:len(l)]

try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    m.append(yf)

except IndexError:
  m.append(None)
  print(len(m))
  del ticker_ks[:len(m)]

res = a+b+c+d+e+f+g+h+i+j+k+l+m+n+o+p+q+r+s+t+u+w+x+y+z
print(len(res))

26
62
2
24
166
7
14
1
9
8
1
8
5
333

In [ ]:
try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    n.append(yf)

except IndexError:
  n.append(None)
  print(len(n))
  del ticker_ks[:len(n)]

try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    o.append(yf)

except IndexError:
  o.append(None)
  print(len(o))
  del ticker_ks[:len(o)]

try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    p.append(yf)

except IndexError:
  p.append(None)
  print(len(p))
  del ticker_ks[:len(p)]

try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    q.append(yf)

except IndexError:
  q.append(None)
  print(len(q))
  del ticker_ks[:len(q)]

try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    r.append(yf)

except IndexError:
  r.append(None)
  print(len(r))
  del ticker_ks[:len(r)]

try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    s.append(yf)

except IndexError:
  s.append(None)
  print(len(s))
  del ticker_ks[:len(s)]

try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    t.append(yf)

except IndexError:
  t.append(None)
  print(len(t))
  del ticker_ks[:len(t)]

try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    u.append(yf)

except IndexError:
  u.append(None)
  print(len(u))
  del ticker_ks[:len(u)]

try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    w.append(yf)

except IndexError:
  w.append(None)
  print(len(w))
  del ticker_ks[:len(w)]

try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    x.append(yf)

except IndexError:
  x.append(None)
  print(len(x))
  del ticker_ks[:len(x)]

try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    y.append(yf)

except IndexError:
  y.append(None)
  print(len(y))
  del ticker_ks[:len(y)]


try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    z.append(yf)

except IndexError:
  z.append(None)
  print(len(z))
  del ticker_ks[:len(z)]

res = a+b+c+d+e+f+g+h+i+j+k+l+m+n+o+p+q+r+s+t+u+w+x+y+z
print(len(res))

118
1
32
56
9
1
27
45
1
1
64
24
712

In [ ]:
a1 = []
a2 = []
a3 = []
a4 = []
a5 = []

In [ ]:
a1

In [ ]:
len(a1)

107

In [ ]:
try:
  for ticker in ticker_ks:
    URL = f"https://finance.naver.com/item/main.nhn?code={ticker}"
    re = requests.get(URL, headers={'User-agent':'Mozilla/5.0'})
    yf = pd.read_html(re.text)[9]
    yf = yf.iloc[0][1]
    a1.append(yf)

except IndexError:
  a1.append(None)
  print(len(a1))
  del ticker_ks[:len(a1)]

KeyboardInterrupt: ignored

In [ ]:
ticker_ks = ticker_ks[1:]

In [ ]:
ticker_kospi = ticker_ks

In [ ]:
ref = res
reg = ref + ['12.87배']
reg

In [ ]:
len(ticker_ks)

108

In [ ]:
len(ticker_kospi)

108

In [ ]:
ticker_ks

In [ ]:
import pandas as pd
dp = pd.DataFrame(sog, columns = ['동일업종PER'])
dp

    동일업종PER
0    10.83배
1     8.54배
2     6.23배
3     6.23배
4     5.29배
..      ...
815  31.16배
816   4.79배
817   4.14배
818   6.72배
819   3.33배

[820 rows x 1 columns]

In [ ]:
dp.to_csv('/content/drive/MyDrive/프로젝트1 데이터/동일업종PER.csv')

In [ ]:
doo = pd.read_csv('/content/drive/MyDrive/프로젝트1 데이터/동일업종PER.csv')
doo

     Unnamed: 0 동일업종PER
0             0  10.83배
1             1   8.54배
2             2   6.23배
3             3   6.23배
4             4   5.29배
..          ...     ...
815         815  31.16배
816         816   4.79배
817         817   4.14배
818         818   6.72배
819         819   3.33배

[820 rows x 2 columns]

In [ ]:
df_.isnull().sum()

동일업종PER    26
dtype: int64

In [ ]:
df_.tail(100)

     동일업종PER
1099   6.23배
1100   9.58배
1101  80.19배
1102  28.73배
1103  18.96배
...      ...
1194   3.30배
1195  10.36배
1196  11.99배
1197  12.87배
1198   7.37배

[100 rows x 1 columns]

In [ ]:
sog = reg + a1

In [ ]:
len(sog)

820

In [ ]:
a1

NameError: ignored

In [ ]:
ind_df = pd.read_csv('/content/drive/MyDrive/프로젝트1 데이터/동일업종PER.csv')
ind_df

     Unnamed: 0 동일업종PER
0             0  10.83배
1             1   8.54배
2             2   6.23배
3             3   6.23배
4             4   5.29배
..          ...     ...
815         815  31.16배
816         816   4.79배
817         817   4.14배
818         818   6.72배
819         819   3.33배

[820 rows x 2 columns]

In [ ]:
ind_df.replace('배', '', inplace=True)

In [ ]:
ind_df

     Unnamed: 0 동일업종PER
0             0  10.83배
1             1   8.54배
2             2   6.23배
3             3   6.23배
4             4   5.29배
..          ...     ...
815         815  31.16배
816         816   4.79배
817         817   4.14배
818         818   6.72배
819         819   3.33배

[820 rows x 2 columns]

In [ ]:
stock_df = pd.read_csv('/content/drive/MyDrive/프로젝트1 데이터/주식데이터.csv')
stock_df

,Unnamed: 0,종목코드,종목명,PER,PBR,배당수익률,추정PER,ROE,PEG
0,0,95570,AJ네트웍스,4.16,0.84,3.96,NaN,0.201923,20.601905
1,1,6840,AK홀딩스,NaN,0.43,1.02,NaN,NaN,NaN
2,2,27410,BGF,7.45,0.31,2.16,NaN,0.041611,179.040323
3,3,282330,BGF리테일,21.95,4.00,1.60,17.0,0.182232,120.450625
4,4,138930,BNK금융지주,3.18,0.27,7.25,3.0,0.084906,37.453333
...,...,...,...,...,...,...,...,...,...
815,815,5870,휴니드,9.88,0.90,NaN,NaN,0.091093,108.460444
816,816,79980,휴비스,NaN,0.52,4.20,NaN,NaN,NaN
817,817,5010,휴스틸,4.68,0.29,3.46,NaN,0.061966,75.525517
818,818,540,흥국화재,3.89,0.35,NaN,NaN,0.089974,43.234571
819,819,3280,흥아해운,25.08,6.92,NaN,NaN,0.275917,90.896879

In [ ]:
kos_df = pd.concat([stock_df, ind_df], axis=1)

In [ ]:
kos_df = kos_df.drop('Unnamed: 0', axis=1)

In [ ]:
kos_df = kos_df.drop(['종목코드', '종목명'], axis=1)

In [ ]:
statement = pd.concat([kos_df, kospi_df], axis=1)

In [ ]:
statement = statement[['종목코드', '종목명', 'PER', '동일업종PER', '추정PER', 'PBR', 'ROE', '배당수익률']]

In [ ]:
statement['동일업종PER'] = statement['동일업종PER'].str.replace("배", "")

In [ ]:
statement['동일업종PER']

0      10.83
1       8.54
2       6.23
3       6.23
4       5.29
       ...
815    31.16
816     4.79
817     4.14
818     6.72
819     3.33
Name: 동일업종PER, Length: 820, dtype: object

In [ ]:
statement[['PER', '동일업종PER', '추정PER', 'PBR', 'ROE', '배당수익률']] = statement[['PER', '동일업종PER', '추정PER', 'PBR', 'ROE', '배당수익률']].astype(float)

In [ ]:
statement['ROE'] = statement['ROE'].round(2)

In [ ]:
import numpy as np

In [ ]:
def per(x, y):
  if  x <= y :
    result = 1

  else:
    result = 0

  return result

In [ ]:
statement['PER10이하주'] = statement['PER'].apply(lambda x : 1 if x <= 10  else 0)

In [ ]:
statement['PBR1이하주'] = statement['PBR'].apply(lambda x : 1 if x <= 1  else 0)

In [ ]:
statement['ROE12이상주'] = statement['ROE'].apply(lambda x : 1 if x >= 0.12  else 0)

In [ ]:
statement['배당수익률2이상주'] = statement['배당수익률'].apply(lambda x : 1 if x >= 2  else 0)

In [ ]:
statement['동일업종대비PER하위주'] = statement.apply(lambda x : per(x['PER'], x['동일업종PER']), axis=1)

In [ ]:
statement

,Unnamed: 0,종목코드,종목명,PER,동일업종PER,추정PER,PBR,ROE,배당수익률,PER10이하주,PBR1이하주,ROE12이상주,동일업종대비PER하위주,PER대비추정PER하위주,배당수익률2이상주,2346만족,12346만족,123456만족
0,0,95570,AJ네트웍스,4.16,10.83,NaN,0.84,0.20,3.96,1,1,1,1,0,1,1,1,0
1,1,6840,AK홀딩스,NaN,8.54,NaN,0.43,NaN,1.02,0,1,0,0,0,0,0,0,0
2,2,27410,BGF,7.45,6.23,NaN,0.31,0.04,2.16,1,1,0,0,0,1,0,0,0
3,3,282330,BGF리테일,21.95,6.23,17.0,4.00,0.18,1.60,0,0,1,0,1,0,0,0,0
4,4,138930,BNK금융지주,3.18,5.29,3.0,0.27,0.08,7.25,1,1,0,1,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815,815,5870,휴니드,9.88,31.16,NaN,0.90,0.09,NaN,1,1,0,1,0,0,0,0,0
816,816,79980,휴비스,NaN,4.79,NaN,0.52,NaN,4.20,0,1,0,0,0,1,0,0,0
817,817,5010,휴스틸,4.68,4.14,NaN,0.29,0.06,3.46,1,1,0,0,0,1,0,0,0
818,818,540,흥국화재,3.89,6.72,NaN,0.35,0.09,NaN,1,1,0,1,0,0,0,0,0
819,819,3280,흥아해운,25.08,3.33,NaN,6.92,0.28,NaN,0,0,1,0,0,0,0,0,0

In [ ]:
statement = pd.read_csv('/content/drive/MyDrive/프로젝트1 데이터/네이버_재무제표데이터.csv')

In [ ]:
def three_pass(a,b,c):
  if  a+b+c == 3 :
    result = 1

  else:
    result = 0

  return result

def four_pass(a,b,c,d):
  if  a+b+c+d == 4 :
    result = 1

  else:
    result = 0

  return result

def five_pass(a,b,c,d,e):
  if  a+b+c+d+e == 5 :
    result = 1

  else:
    result = 0

  return result

def six_pass(a,b,c,d,e,f):
  if  a+b+c+d+e+f == 6 :
    result = 1

  else:
    result = 0

  return result

In [ ]:
statement['1234만족'] = statement.apply(lambda x : four_pass(x['PBR1이하주'], x['ROE12이상주'], x['동일업종대비PER하위주'], x['PER10이하주']), axis=1)
statement['12345만족'] = statement.apply(lambda x : five_pass(x['PBR1이하주'], x['ROE12이상주'], x['동일업종대비PER하위주'],x['PER대비추정PER하위주'], x['배당수익률2이상주']), axis=1)
statement['12346만족'] = statement.apply(lambda x : five_pass(x['PER10이하주'], x['PBR1이하주'], x['ROE12이상주'], x['동일업종대비PER하위주'], x['배당수익률2이상주']), axis=1)
statement['123456만족'] = statement.apply(lambda x : six_pass(x['PER10이하주'], x['PBR1이하주'], x['ROE12이상주'], x['동일업종대비PER하위주'], x['PER대비추정PER하위주'], x['배당수익률2이상주']), axis=1)

In [ ]:
statement.to_excel('/content/drive/MyDrive/프로젝트1 데이터/네이버_재무제표데이터.xls')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.

In [ ]:
statement.to_csv('/content/drive/MyDrive/프로젝트1 데이터/네이버_재무제표데이터.csv')

In [ ]:
con1= statement['1234만족'] == 1
con2= statement['12346만족'] == 1
con3 = statement['123456만족'] == 1

df1 = statement.loc[con1, :]
df2 = statement.loc[con2, :]
df3 = statement.loc[con3, :]

In [ ]:
statement['동일업종대비PER하위주'].value_counts()

0    495
1    325
Name: 동일업종대비PER하위주, dtype: int64

In [ ]:
statement['PER대비추정PER하위주'].value_counts()

0    688
1    132
Name: PER대비추정PER하위주, dtype: int64

In [ ]:
statement['배당수익률2이상주'].value_counts()

0    527
1    293
Name: 배당수익률2이상주, dtype: int64

In [ ]:
statement['ROE12이상주'].value_counts()

0    632
1    188
Name: ROE12이상주, dtype: int64

In [ ]:
statement['PER10이하주'].value_counts()

0    530
1    290
Name: PER10이하주, dtype: int64

In [ ]:
statement['PBR1이하주'].value_counts()

1    441
0    379
Name: PBR1이하주, dtype: int64